extends _cola-page

append head
    script(src="/resources/nprogress/nprogress.js")

prepend body
    script(type="text/javascript").
        NProgress.configure({showSpinner: false, minimum: 0.3}).start();