extends .cola-page

append head
	link(rel="stylesheet", type="text/css", href="./resources/nprogress/nprogress.css")
	script(src="./resources/nprogress/nprogress.js")

prepend body
	script(type="text/javascript").
		NProgress.configure({showSpinner: false, minimum: 0.3}).start();
append scripts
	script(src="./cola-app/frame/app.js")