extends ../../.cola-page

append head
	title.c-view(c-bind="=resource('forgotPassword.title2')")
	link(rel="stylesheet", type="text/css", href="shell/account/forgot-password2.css")

block body
	body.c-view
		#formVerify(c-widget="segment; class:basic")
			.ui.form(c-widget="form" style="padding:1em")
				h2.ui.header(c-bind="=resource('forgotPassword.title')")
				.field
					div(c-widget="input; bind:email; readOnly:true; placeholder:{{=resource('email')}}")
				.field
					div(c-widget="input; bind:code; placeholder:{{=resource('forgotPassword.verifyCode')}}")
				div
					#buttonSubmit
			.ui.inverted.dimmer
				.ui.text.loader

append scripts
	script(src="resources/jquery.parsequery.js")
	script(src="shell/account/forgot-password2.js")

