extends ../../_cola-page

append head
	title.c-view(c-bind="=resource('forgotPassword.title1')")
	link(rel="stylesheet", type="text/css", href="shell/account/forgot-password1.css")

block body
	body.c-view
		#formVerify(c-widget="segment; class:basic")
			.ui.form(c-widget="form" style="padding:1em")
				h2.ui.header(c-bind="=resource('forgotPassword.title')")
				.field
					div(c-widget="input; bind:email; placeholder:{{=resource('email')}}")
				div(style="margin-top:2em")
					div.basic.captcha-container(c-widget="segment")
						img#captcha(c-onclick="resetCaptcha()")
					span.captcha-help(c-bind="=resource('register.captchaDesc')")
				.field(style="margin-bottom:2em")
					div(c-widget="input; bind:captcha; placeholder:{{=resource('register.captcha')}}")
				div
					#buttonSubmit
			.ui.inverted.dimmer
				.ui.text.loader

append scripts
	script(src="shell/account/forgot-password1.js")

