extends ../../_cola-page

append head
	title.c-view(c-bind="=resource('setPassword.title')")
	link(rel="stylesheet", type="text/css", href="frame/account/set-password.css")

block body
	body.c-view
		#formPassword(c-widget="segment; class:basic")
			.ui.form(c-widget="form")
				.field
					div(c-widget="input; bind:oldPassword; placeholder:{{=resource('setPassword.oldPassword')}}; inputType:password")
				.field
					div(c-widget="input; bind:newPassword; placeholder:{{=resource('setPassword.newPassword')}}; inputType:password")
				.field
					div(c-widget="input; bind:newPassword2; placeholder:{{=resource('register.confirmPassword')}}; inputType:password")
				div
					#buttonSubmit
			.ui.inverted.dimmer
				.ui.text.loader

append scripts
	script(src="frame/account/set-password.js")

