extends ../.cola-page

append head
	link(rel="stylesheet", type="text/css", href="./cola-app/spa/shell.css")

block body
	body
		c-subView#viewMain(style="overflow:hidden; height:100%")
			.content.v-box

		#cacheDimmer.ui.inverted.dimmer
			#cacheLoader.ui.text.loader(c-bind="loaderText")

append scripts
	script(src="./resources/jquery/jquery.cookie.js")
	script(src="./cola-app/spa/app.js")
	script(src="./cola-app/config.js")
	script(src="./cola-app/spa/shell.js")
